<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myspringproject.mapper.UserMapper">
    <resultMap id="userMap" type="com.example.myspringproject.model.User">
        <result column="pk_id" property="pkId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="getUserList" resultMap="userMap">
        select pk_id,username,password
        from user
        <if test="pkId!=null">
            where pk_id = #{pkId}
        </if>
    </select>

    <select id="addUserList">
        insert into user(name) values
        <foreach collection="list" separator="," item="factor">
            (#{factor.name})
        </foreach>
    </select>

    <update id="updateUserList">
        <foreach collection="list" item="item" separator=";">
            update user set name =#{item.name} where pk_id = #{item.pkId}
        </foreach>
    </update>

    <delete id="deleteUser">
        delete
        from user
        where pk_id = #{pkId}
    </delete>

    <select id="findUserByName" resultMap="userMap">
        SELECT pk_id,username,password
        FROM user
        WHERE
        <if test="username!=null and username!=''">
            username = #{username}
        </if>
    </select>

</mapper>